td[result='SUCCESSFUL'] {
    color: darkgreen;
}

td[result='ABORTED'] {
    color: red;
}

td[result='FAILED'] {
    color: red;
}

summary[result='SUCCESSFUL'] {
    color: darkgreen;
}

summary[result='ABORTED'] {
    color: red;
}

summary[result='FAILED'] {
    color: red;
}

details summary {
    cursor: pointer;
}

details summary > * {
    display: inline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid palegreen;
}

tr:hover {
    background-color: lightgreen;
}

th {
    text-align: left;
    background-color: darkgreen;
    color: palegreen;
    font-size: larger;
}

tr {
    background-color: darkseagreen;
}

body {
    background-color: darkolivegreen;
}

h1 {
    color: palegreen;
    border-bottom: 1px solid;
}

b[result=true] {
    color: black;
}

b[result=false] {
    color: red;
}